@media screen and (min-width: 1140px) and (max-width: 1400px)
{
/* HEADER */

body
{
    font-family: 'Raleway', sans-serif;
    width: 100%;

}

header
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1400px;
    width: 100%;
    max-width: 1400px;
}

#Bookilogo
{
    margin-left: 55px;
    padding-top: 44px;
}
#Bookilogo img
{
    height: 19px;
    width: 61,09px;
}
nav
{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 87%;
}

.element2
{
    border-spacing: 30px;
    padding-top: 0px;
    width: 63px;
    height: 19px;
    font-weight:400;
    margin-top: 48px;
}
.element1
{
    padding-right: 67px;
    border-spacing: 30px;
    padding-top: 0px;
    width: 113px;
    height: 19px;
    font-weight:500;
    margin-top: 48px;
}

nav a 
{
    text-decoration: none;
    color: black;
}
nav a:hover
{
    color: #0065FC;
    border-top: solid;
    border-color: #0065FC;
    padding-top: 53px;
}

.section0
{
    width: 810px;
}
.section0 h1
{
    font-size: 22px;
    height: 26px;
    margin-left: 55px;
    margin-top: 80px;
    font-weight:700;
}
.section0 p
{
    margin-left: 55px;
    height: 19px;
    font-weight:400;
}

.section3
{
    margin-left: 55px;
}
form
{
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}
form i.fa-location-dot
{
    border-style: solid;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .search_icon
{
    display: none;
}
form .Endroit
{
    border-color: #F2F2F2;
    height: 44px;
}
form .bouton
{
    background-color: #0065FC;
    color: white;
    border-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 132px;
    height: 48px;
    font-weight: 700;
    font-size: 15px;

}
form input
{
    border: 1px;
    border-style: solid;
    border-color: #F2F2F2;
}
#Filtres
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
}
#typefiltr
{ 
    display: flex;
    flex-direction: row;
}
#Filtres a
{
    text-decoration: none;
    color: black;
}
#Filtres p
{
    font-weight: 700;
    width: 54px;
    height: 21px;
    margin-top: 55px;
}
#Filtres i
{
    color: #0065FC;
}
.Economique:hover
{
    background-color: #DEEBFF;
}
.Familial:hover
{
    background-color: #DEEBFF;
}
.Romantique:hover
{
    background-color: #DEEBFF;
}
.Animaux:hover
{
    background-color: #DEEBFF;
}
.Economique
{
    border: 3px;
    border-style: solid;
    border-color: #e2e2e2;
    border-radius: 40px;
    text-align: center;
    height: 30px;
    width: 160px;
    line-height: 30px;
    margin-top: 40px;
    margin-right: 45px;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 700;
    font-family: raleway;
    font-style: normal;
    font-size: 17px;
}
.Economique a
{
    padding-left: 10px;
}
.Familial
{
    border: 3px;
    border-style: solid;
    border-color: #e2e2e2;
    border-radius: 40px;
    height: 30px;
    width: 130px;
    text-align: center;
    line-height: 30px;
    margin-top: 40px;
    margin-right: 45px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 700;
    font-family: raleway;
    font-style: normal;
    font-size: 17px;
}
.Familial a
{
    padding-left: 10px;
}
.Romantique
{
    border: 3px;
    border-style: solid;
    border-color: #e2e2e2;
    border-radius: 40px;
    height: 30px;
    width: 150px;
    text-align: center;
    margin-top: 40px;
    margin-right: 45px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    font-size: 17px;
}
.Romantique a
{
    padding-left: 10px;
}
.Animaux
{
    border: 3px;
    border-style: solid;
    border-color: #e2e2e2;
    border-radius: 40px;
    height: 30px;
    line-height: 30px;
    width: 200px;
    text-align: center;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 17px;
}
.Animaux a 
{
    padding-left: 10px;
}

/* ASIDE */

aside
{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-left: 59px;
    width: 934px;
}
aside i
{
    margin-top: 3px;
    margin-left: 9px;
    color: #0065FC;
}
#cercle
{
    border: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: #DEEBFF;
    width: 24px;
    height: 24px;
    margin-top: 38px;
    position: absolute;
}
aside p
{
    margin-left: 42px;
    margin-top: 42px;
    font-weight: 400;
}

/* SECTION */
.section1
{
    display: flex;
    width: 1340px;
    margin-top: 39px;
}
.article1
{
    margin-left: 50px;
    width: 65%;
    height: 645px;
    border: 0px;
    border-style: solid;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.article1 h1
{
    padding-left: 40px;
    margin-top: 42px;
}
#cartes
{
    display: grid;
    grid-template-columns: 246px 246px 246px;
    grid-gap: 31px;
    justify-content: center;
}
.card1
{
    border: 5px;
    border-color: white;
    border-style: solid;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 199px;
    cursor: pointer;
    box-shadow: 0 0 10px -3px gray;
}
.card1 .container
{
    margin-left: 0px;
    padding-left: 0px;
}
.card1 img
{
    width: 246px;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card1 h4
{
    position: absolute;
    margin: 0px;
    padding-left: 16px;
}
.card1 p
{
    padding-left: 16px;
    position: absolute;
    margin: 0px;
    padding-top: 20px;
}
.article1 .etoiles
{
    margin-top: 50px;
    margin-left: 16px;
    position: absolute;
}
.etoiles i
{
    font-size: 13px;
    color: #0065FC;
}

.etoiles .gray {

    font-size: 13px;
    color: #F2F2F2;
}

#lien
{
    margin-left: 44px;
    margin-top: 40px;
}
#lien a
{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.article2
{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    border: 0px;
    border-style: solid;
    border-radius: 20px;
    width: 30%;
    height: 645px;
    background-color: #F2F2F2;
}
.article2 h1
{
    padding-left: 37px;
    margin-top: 42px;
    padding-bottom: 10px;
}
.article2 .diagram
{
    margin-left: 150px;
    margin-top: 42px;
    width: 18px;
    height: 16px;
    color: #0065FC;
    position: relative;
}
#titre 
{
    display: flex;
}
.card7
{
    display: flex;
    margin-bottom: 33px;
    margin-left: 30px;
    border: 5px;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-radius: 20px;
    height: 144px;
    cursor: pointer;
    width: 85%;
    box-shadow: 0 0 10px -3px gray;
}
.card7 .container
{
    position: absolute;
    padding-left: 140px;
    width: 170px;
}
.card7 img
{
    width: 40%;
    height: 144px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.card7 h4
{
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 15px;

}
.card7 p
{
    margin-top: 7px;
}

.container .etoiles2
{
    font-size: 12px;
    margin-top: 45px;
    justify-content: space-between;
}
.etoiles2 i
{
    color: #0065FC;
}
.etoiles2 .gray 
{
    color: #F2F2F2;
}
.container .etoiles4
{
    margin-top: 63px;
}

.section2
{

    display: flex;
    flex-direction: row;
    width: 87%;
    margin-top: 60px;
}
.section2 h1
{
    margin-left: 50px;
    width: 240px;
    position: absolute;
}
.card8
{
    display: flex;
    height: 444px;
    margin-top: 80px;
    margin-left: 50px;
    cursor: pointer;
    column-gap: 43px;
}
.card8 article
{
    border: 2px;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 10px -3px gray;
}
.card8 img
{

    width: 285px;
    height: 389px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.card8 h4
{
    margin-top: 12px;
}
article .container
{
    margin-left: 19px;
}

.star-gray {
    color: gray;
}

footer
{
    margin-left: 48px;
    margin-top: 61px;
    padding-left: 70px;
    padding-top: 45px;
    background-color: #F2F2F2;
    height: 225px;
    width: 87%;
    text-align: justify;
    display: flex;
    flex-direction: row;
}
footer .titre
{
    padding-bottom: 20px;
}
footer td
{
    padding-bottom: 12px;
}
#colonne1
{
    margin-left: 20px;

}
#colonne2
{

    margin-left: 347px;
}
#colonne3
{

    margin-left: 239px;
}
}