
@media screen and (min-width: 992px)
{
    
body
{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    max-width: 1400px;
    margin: auto;

}

header
{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    vertical-align: middle;
}

#Bookilogo
{
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#Bookilogo img
{
    height: 19px; 
}
nav
{
    display: flex;
    flex-direction: row;
    margin-right: 47px;
}

.element1
{
    min-width: 113px;
    font-weight:500;
}

nav a 
{
    text-decoration: none;
    color: black;
    padding: 30px 30px 10px 30px; 
    display: inline-flex;
}
nav a:hover
{
    color: #0065FC;
    border-top: solid;
    border-color: #0065FC;
    padding-top: 44px;
}


.section0 h1
{
    font-size: 22px;
    height: 26px;
    margin-left: 55px;
    margin-top: 80px;
    font-weight:700;
}
.section0 p
{
    margin-left: 55px;
    height: 19px;
    font-weight:400;
}

.section3
{
    margin-left: 55px;
}
form
{
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}
form i.fa-location-dot
{
    border-style: solid;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .search_icon
{
    display: none;
}
form .Endroit
{
    border-color: #F2F2F2;
    height: 44px;
    font-weight: 700;
    font-size: 18px;
    padding-left: 17px;
}
form .bouton
{
    background-color: #0065FC;
    color: white;
    border-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 132px;
    height: 48px;
    font-weight: 700;
    font-size: 15px;

}
form input
{
    border: 1px;
    border-style: solid;
    border-color: #F2F2F2;
}
#Filtres
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#Filtres a
{
    text-decoration: none;
    color: black;
}
#Filtres p
{
    font-weight: 700;
    width: 54px;
    height: 21px;
    margin-top: 55px;
}
#Filtres i
{
    color: #0065FC;
}
#typefiltr
{
    margin-left: 45px;
    display: flex;
    column-gap: 3%;
    width: 80%;
    padding-top: 40px;
    white-space: nowrap;
}
.filtre:hover
{
    background-color: #DEEBFF;
}

.filtre
{
    border: 3px;
    border-style: solid;
    border-color: #e2e2e2;
    border-radius: 40px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 17px;
}
.filtre a
{
    padding-left: 10px;
}


/* ASIDE */

aside
{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-left: 59px;
    width: 934px;
}
aside i
{
    margin-top: 3px;
    margin-left: 9px;
    color: #0065FC;
}
#cercle
{
    border: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: #DEEBFF;
    width: 24px;
    height: 24px;
    margin-top: 38px;
    position: absolute;
}
aside p
{
    margin-left: 42px;
    margin-top: 42px;
    font-weight: 400;
}

/* SECTION */
.section1
{
    display: flex;
    width: 100%;
    margin-top: 39px;
}
.article1
{
    margin-left: 50px;
    width: 65%;
    height: 645px;
    border: 0px;
    border-style: solid;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.article1 h1
{
    padding-left: 40px;
    margin-top: 42px;
}
#cartes
{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-gap: 31px;
    justify-content: center;
}

.card1
{
    border: 5px;
    border-color: white;
    border-style: solid;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 199px;
    cursor: pointer;
    box-shadow: 0 0 10px -3px gray;
}
.card1 .container
{
    padding-top: 4px;
    white-space: nowrap;
}
.card1 img
{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card1 h4
{
    padding-left: 16px;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
}
.card1 p
{
    padding-left: 16px;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    margin-top: 4px;
}
.article1 .etoiles
{
    margin-left: 16px;
    margin-top: 7px;
}
.etoiles i
{
    font-size: 13px;
    color: #0065FC;
}

.etoiles .gray {

    font-size: 13px;
    color: #F2F2F2;
}

#lien
{
    margin-left: 44px;
    margin-top: 40px;
}
#lien a
{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.article2
{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 50px;
    border: 0px;
    border-style: solid;
    border-radius: 20px;
    width: 30%;
    height: 645px;
    background-color: #F2F2F2;
}
.article2 h1
{
    padding-left: 37px;
    margin-top: 42px;
    padding-bottom: 10px;
}
.article2 .diagram
{
    margin-top: 42px;
    width: 18px;
    height: 16px;
    color: #0065FC;
}
#titre 
{
    display: flex;
    flex-direction: row;
    position: relative;
}
#icone {
    position: absolute;
    right: 30px;
  }

  #carte2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.card7
{
    display: flex;
    margin-bottom: 33px;
    border: 5px;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-radius: 20px;
    height: 144px;
    cursor: pointer;
    width: 85%;
    box-shadow: 0 0 10px -3px gray;
}
.card7 .container
{
    display: flex;
    flex-direction: column;
    width: 170px;
    justify-content: space-between;
    margin-left: 10px;
}
.card7 img
{
    width: 40%;
    height: 144px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.card7 h4
{
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 15px;

}
.card7 p
{
    font-size: 14px;
    font-weight: 400;
    margin-top: 7px;
}

.container .etoiles2
{
    font-size: 12px;
}
.etoiles2 i
{
    color: #0065FC;
}
.etoiles2 .gray 
{
    color: #F2F2F2;
}

.section2
{

    display: flex;
    flex-direction: column;
    width: 87%;
    margin-top: 60px;
}
.section2 h1
{
    margin-left: 50px;
    width: 240px;
}
.card8
{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    width: 97%;
    grid-gap: 4.5%;
    height: 444px;
    margin-top: 18px;
    margin-left: 53px;
    cursor: pointer;
}
.card8 article
{
    border: 2px;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 10px -3px gray;
}
.card8 img
{

    width: 100%;
    height: 389px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.card8 h4
{
    margin-top: 12px;
    margin-left: 19px;
}
article .container
{
    width: 100%;
}

.star-gray {
    color: gray;
}

footer
{
    margin-left: 48px;
    margin-right: 53px;
    margin-top: 61px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 58px;
    padding-top: 45px;
    background-color: #F2F2F2;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .titre
{
    padding-bottom: 20px;
}
footer td
{
    padding-bottom: 12px;
}
.colonne1
{
    min-width: 100px;
}
}

