@media screen and (max-width: 375px) {
    body 
    {
        width: 100%;
        margin: 0px;
        font-family: 'Raleway', sans-serif;
    }

    header 
    {
        height: 130px;
        width: 375px;
        width: 100%;
    }

    #Bookilogo 
    {
        display: flex;
        justify-content: center;
        margin-top: 21px;
    }

    #Bookilogo img {
        width: 61px;
    }

    nav 
    {
        margin: 0px;
        margin-top: 48px;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    nav a 
    {
        text-decoration: none;
        color: black;
    }

    .element1:hover 
    {
        border-bottom: solid;
        border-color: #0065FC;
        color: #0065FC;
    }

    .element2:hover 
    {
        border-bottom: solid;
        border-color: #0065FC;
        color: #0065FC;
    }

    nav a:hover 
    {
        color: #0065FC;
    }


    .element1 
    {
        padding: 0;
        width: 50%;
        text-align: center;
        height: 100%;
        padding-bottom: 24px;
    }

    .element2 
    {
        width: 50%;
        padding: 0;
        border-width: 188px;
        text-align: center;
        padding-bottom: 24px;
    }

    .section0 
    {
        margin-left: 0px;
        margin-top: 31px;
        width: 100%;
    }

    .section0 h1 
    {
        margin-left: 20px;
        margin-top: 0px;
        font-weight: 700;
    }

    .section0 p 
    {
        margin-left: 20px;
        margin-top: 13px;
    }

    .section3 
    {
        margin-top: 36px;
        margin-left: 0px;
        padding-left: 0px;
        width: 100%;
    }

    .section3 i.fa-location-dot 
    {
        width: 50px;
    }

    .section3 .Endroit 
    {
        width: 232px;
    }

    .section3 .search_icon 
    {
        display: inline;
    }

    .section3 .bouton 
    {
        width: 49px;
        height: 49px;
    }

    .section3 .search_text 
    {
        display: none;
    }

    form 
    {
        height: 40px;
        display: flex;
        flex-direction: row;
        margin-left: 0px;
    }

    form i.fa-location-dot 
    {
        border-style: solid;
        border-color: #F2F2F2;
        background-color: #F2F2F2;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        width: 50px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 22px;
    }

    form .Endroit 
    {
        border-color: #F2F2F2;
        height: 44px;
    }

    form .bouton 
    {
        background-color: #0065FC;
        color: white;
        border-color: #0065FC;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 132px;
        height: 48px;
        font-weight: 700;
        font-size: 15px;
        margin-right: 22px;

    }

    form input 
    {
        border: 1px;
        border-style: solid;
        border-color: #F2F2F2;
    }

    #Filtres
    {
        flex-wrap: nowrap;
    }
    #Filtres a
    {
        text-decoration: none;
        color: black;
    }
    #Filtres p
    {
        font-weight: 700;
        width: 54px;
        height: 21px;
        margin-top: 55px;
        margin-left: 20px;
    }
    #Filtres i
    {
        color: #0065FC;
    }
    #typefiltr
    {
        display: grid;
        grid-template-columns: 52% 52%;
    }
    .Economique:hover
    {
        background-color: #DEEBFF;
    }
    .Familial:hover
    {
        background-color: #DEEBFF;
    }
    .Romantique:hover
    {
        background-color: #DEEBFF;
    }
    .Animaux:hover
    {
        background-color: #DEEBFF;
    }
    .Economique
    {
        border: 3px;
        border-style: solid;
        border-color: #e2e2e2;
        border-radius: 40px;
        height: 30px;
        width: 75%;
        line-height: 30px;
        padding-left: 10px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: 700;
        font-size: 11px;
        margin-left: 20px;
        overflow: scroll;
    }
    .Economique a
    {
        padding-left: 10px;
    }
    .Familial
    {
        border: 3px;
        border-style: solid;
        border-color: #e2e2e2;
        border-radius: 40px;
        height: 30px;
        width: 75%;
        line-height: 30px;
        padding-left: 10px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: 700;
        font-size: 11px;
        overflow: scroll;
    }
    .Familial a
    {
        padding-left: 10px;
    }
    .Romantique
    {
        border: 3px;
        border-style: solid;
        border-color: #e2e2e2;
        border-radius: 40px;
        height: 30px;
        width: 75%;
        padding-left: 10px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: 700;
        line-height: 30px;
        font-size: 11px;
        margin-left: 20px;
        margin-top: 17px;
        overflow: scroll;
    }
    .Romantique a
    {
        padding-left: 10px;
    }
    .Animaux
    {
        border: 3px;
        border-style: solid;
        border-color: #e2e2e2;
        border-radius: 40px;
        height: 30px;
        line-height: 30px;
        width: 75%;
        padding-left: 10px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: 700;
        font-size: 11px;
        margin-top: 17px;
        overflow: scroll;
    }
    .Animaux a 
    {
        padding-left: 10px;
    }

    aside
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
    aside i
    {
        margin-top: 3px;
        margin-left: 9px;
        color: #0065FC;
    }
    #cercle
    {
        border: 1px;
        border-style: solid;
        border-radius: 50%;
        border-color: #DEEBFF;
        width: 24px;
        height: 24px;
        margin-top: 38px;
        position: absolute;
    }
    aside p
    {
        margin-left: 42px;
        margin-top: 42px;
        width: 298px;
        font-weight: 400;
    }

    .section1
{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 17px;
}
.article1
{
    margin-left: 0px;
    border: 0px;
    border-style: solid;
    border-radius: 20px;;
}
#lien a 
{
    display: none;
}
.article1 h1
{
    margin-left: 20px;
    margin-top: 42px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
}
#cartes
{
    display: flex;
    flex-direction: column;
}
.card1
{
    border: 5px;
    border-color: white;
    border-style: solid;
    background-color: white;
    border-radius: 20px;
    width: 85%;
    height: 199px;
    cursor: pointer;
    box-shadow: 0 0 10px -3px gray;
    margin-left: 20px;
    margin-top: 12px;
}
.card1 .container
{
    margin-left: 0px;
    padding-left: 0px;
}
.card1 img
{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card1 h4
{
    position: absolute;
    margin: 0px;
    padding-left: 16px;
}
.card1 p
{
    padding-left: 16px;
    position: absolute;
    margin: 0px;
    padding-top: 20px;
}
.article1 .etoiles
{
    margin-top: 50px;
    margin-left: 16px;
    position: absolute;
}
.etoiles i
{
    font-size: 13px;
    color: #0065FC;
}

.etoiles .gray {

    font-size: 13px;
    color: #F2F2F2;
}

#lien
{
    margin-left: 44px;
    margin-top: 40px;
}
#lien a
{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.article2
{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    border: 0px;
    border-style: solid;
    border-radius: 0px;
    width: 100%;
    height: 645px;
    background-color: #F2F2F2;
}
.article2 h1
{
    padding-left: 37px;
    margin-top: 28px;
    width: 262px;
    padding-bottom: 10px;
}
.article2 .diagram
{
    margin-top: 35px;
    margin-left: 45px;
    width: 18px;
    height: 16px;
    color: #0065FC;
}
#titre 
{
    display: flex;
    flex-direction: row;
}
.card7
{
    display: flex;
    margin-bottom: 33px;
    margin-left: 20px;
    border: 5px;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-radius: 20px;
    height: 144px;
    cursor: pointer;
    width: 87%;
    box-shadow: 0 0 10px -3px gray;
}
.card7 .container
{
    position: absolute;
    padding-left: 130px;
    width: 50%;
    overflow: scroll;
}
.card7 img
{
    width: 40%;
    height: 144px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.card7 h4
{
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 15px;

}
.card7 p
{
    margin-top: 7px;
}

.container .etoiles2
{
    font-size: 12px;
    margin-top: 45px;
    justify-content: space-between;
}
.etoiles2 i
{
    color: #0065FC;
}
.etoiles2 .gray 
{
    color: #F2F2F2;
}
.container .etoiles4
{
    margin-top: 63px;
}

.section2
{

    display: flex;
    flex-direction: row;
    margin-top: 105px;
    width: 100%;
}
.section2 h1
{
    margin-left: 20px;
    font-size: 22px;
    font-weight: 700;
    width: 210px;
    position: absolute;
}
.card8
{
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    margin-left: 20px;
    cursor: pointer; 
    width: 88%;
}
.card8 article
{
    border: 2px;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 20px;
    box-shadow: 0 0 10px -3px gray;
    margin-top: 24px;
}
.card8 img
{
    width: 100%;
    height: 134px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.card8 h4
{
    margin-top: 12px;
}
article .container
{
    margin-left: 19px;
}

.star-gray {
    color: gray;
}

    footer {
        margin-top: 80px;
        width: 100%;
        height: 501px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        text-align: justify;
    }

    #colonne1 {
        margin-left: 30px;
        margin-top: 45px;
    }

    #colonne2 {
        margin-left: 30px;
        margin-top: 40px;
    }

    #colonne3 {
        margin-left: 30px;
        margin-top: 51px;
    }
    footer .titre
{
    padding-bottom: 20px;
}
footer td
{
    padding-bottom: 12px;
}
}