@media screen and (max-width: 767px) {
    body
    {
        width: 375;
        width: 100%;
    }
    header
    {
        height: 130px;
        width: 375px;
        width: 100%;
    }
    #Bookilogo
    {
        margin-left: 157px;
    }
    nav
    {
        margin: 0px;
        margin-top: 48px;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .element1:hover
    {
        border-bottom: solid;
        border-color: #0065FC;
        color: #0065FC;
    }
    
    .element2:hover
    {
        border-bottom: solid;
        border-color: #0065FC;
        color: #0065FC;
    }
    
    .element1
    {
        padding: 0;
        width: 50%;
        text-align: center;
        height: 100%;
        padding-bottom: 24px;
    }
    
    .element2
    {
        width: 50%;
        padding: 0;
        border-width: 188px;
        text-align: center;
        padding-bottom: 24px;
    }
    .section0
    {
        margin-left: 20px;
        width: 298px;
    }
    .section0 h1
    {
        margin-left: 0px;
        margin-top: 57px;
    }
    .section0 p 
    {
        margin-left: 0px;
        margin-top: 30px;
    }
    .section3
    {
        margin-top: 36px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .section3 i.fa-location-dot
    {
        width: 50px;
    }
    .section3 .Endroit
    {
        width: 232px;
    }
    .section3 .search_icon
    {
        display: inline;
    }
    .section3 .bouton
    {
        width: 49px;
        height: 49px;
    }
    .section3 .search_text
    {
        display: none;
    }
    #Filtres
    {
        margin-left: 0px;
    }
    #Filtres p
    {
        margin-left: 20px;
        margin-top: 34px;
    }
    .Economique
    {
        margin-top: 70px;
        margin-left: 20px;
        margin-right: 0px;
        font-size: 11px;
        width: 160px;
        padding-left: 0px;
        text-align: justify;
    }
    .Economique i
    {
        margin-left: 10px;
        font-size: 16px;
    }
    .Familial
    {
        margin-top: 70px;
        margin-left: 14px;
        font-size: 11px;
        width: 160px;
        padding-left: 0px;
        text-align: justify;
    }
    .Familial i
    {
        margin-left: 10px;
        font-size: 16px;
    }
    .Romantique
    {
        margin-top: 387px;
        margin-left: 20px;
        font-size: 11px;
        width: 160px;
        padding-left: 0px;
        text-align: justify;
    }
    .Romantique i 
    {
        margin-left: 10px;
        font-size: 16px;
    }
    .Animaux
    {
        margin-top: 387px;
        margin-left: 207px;
        font-size: 11px;
        width: 160px;
        padding-left: 0px;
        text-align: justify;
    }
    .Animaux i 
    {
        margin-left: 10px;
        font-size: 16px;
    }
    
    aside
    {
        margin-top: 43px;
        margin-left: 20px;
        width: 298px;
        height: 57px;
    }
    .section1
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .article1
    {
        margin-top: 26px;
        margin-left: 0px;
        width: 335px;
        height: 1500px;
        background-color: white;
    }
    .card1
    {
        margin-left: 20px;
        width: 335px;
        height: 199px;
    }
    .article1 .container h4
    {
        padding-left: 0px;
    }
    .article1 .container p
    {
        padding-left: 0px;
    }
    .article1 .etoiles
    {
        margin-left: 0px;
    }
    
    .card1 .container
    {
        padding-left: 10px;
    }

    .section1 a 
    {
        display: none;
    }
    .article2
    {
        margin-top: 17px;
        margin-left: 0px;
        width: 400px;
        height: 650px;
        display: flex;
        border-radius: 0px;
        flex-direction: column;
    }
    .article2 h1
    {
        margin-left: 0px;
    }
    .article2 .diagram
    {
        margin-left: 350px;
    }
    .card7
    {
        margin: 0px;
        width: 334px;
        margin-left: 20px;
        position: absolute;
    }
    .card7 .container
    {
        width: 197px;
    }
    .pop1
    {
        margin-top: 100px;
    }
    .pop2
    {
        margin-top: 270px;
    }
    .pop3
    {
        margin-top: 440px;
    }
    .section2
    {
        margin-top: 105px;
    }
    .card8
    {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .card8 article 
    {
        margin-bottom: 24px;
    }
    .card8 img 
    {
        width: 334px;
        height: 134px;
    }
    
    footer
    {
        margin-top: 80px;
        width: 400px;
        height: 501px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }
    #colonne1
    {
        padding-left: 33px;
        margin-left: 0px;
    }
    #colonne2
    {
        margin-left: 0px;
        padding-left: 33px;
        margin-top: 207px;
    }
    #colonne3
    {
        margin-top: 349px;
        margin-left: 0px;
        padding-left: 33px;
    }
    }