@media screen and (max-width: 1024px)
{
body
{
    width: 1024px;
    width: 100%;
}
header
{
    width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#Bookilogo
{
    margin-left: 72px;
}
nav
{
    margin-left: 575px;
}

nav a:hover
{
    color: black;
}
.element1
{
    font-weight: 400;
}
nav a:hover
{
    border: 0px;
}

.section0
{
    margin-left: 17px;
}

.Economique
{
    margin-right: 25px;
    width: 140px;
    font-size: 15px;
    border: solid 2px rgb(211, 211, 211);
}
.Familial
{
    margin-right: 25px;
    width: 110px;
    font-size: 15px;
    border: solid 2px rgb(211, 211, 211);
}
.Romantique
{
    margin-right: 25px;
    width: 130px;
    font-size: 15px;
    border: solid 2px rgb(211, 211, 211);
}
.Animaux
{
    margin-right: 25px;
    width: 180px;
    font-size: 15px;
    border: solid 2px rgb(211, 211, 211);
}
.section3 form 
{
    margin-left: 18px;
}
#Filtres 
{
    margin-left: 17px;
}
aside 
{
    margin-left: 72px;
}
.section1
{
    display: flex;
    flex-direction: column;
}
.article1
{
    width: 880px;
    margin-left: 72px;
}

.article2
{
    margin-top: 53px;
    margin-left: 70px;
    width: 883px;
    height: 278px;
}
.article2 h1
{
    padding-left: 0px;
}

.article2 .diagram
{
    margin-left: 825px;
}
#carte2
{
    display: flex;
    flex-direction: row;
}

.card7
{
    width: 252px;
    font-size: 14px;
    margin-top: 26px;
}

.card7 img
{
    width: 106px;
    height: 144px;
    padding: 0px;
    margin: 0px;
}
.container h4
{
    padding-right: 10px;
}
.card7 .container
{
    margin-left: 120px;
    padding: 0px;
    width: 120px;
}
.container .etoiles2
{
    margin-top: 40px;
}
.container .etoiles3
{
    margin-top: 25px;
}

.section2
{
    margin-top: 70px;
}
.article2 h1
{
    margin-left: 40px;
    position: absolute;
}
.pop3
{
    margin-right: 40px;
}

.section2 h1
{
    margin-left: 81px;
}
.card8
{
    column-gap: 50px;
    margin-left: 73px;
    height: 331px;
}
.card8 img
{
    height: 211px;
    width: 182px;
}
.card8 article
{
    height: 270px;
    width: 182px;
}
footer
{
    margin-top: 69px;
    padding: 0px;
    margin-left: 74px;
    width: 879px;
    height: 225px;
}
footer .titre
{
    font-size: 18px;
}
footer td
{
    font-size: 16px;
}
#colonne1
{
    margin-top: 45px;
    margin-left: 70px;
    padding: 0px;
}
#colonne2
{
    margin-top: 45px;
    margin-left: 81px;

}
#colonne3
{
    margin-top: 45px;
    margin-left: 82px;

}

}