@media screen and (min-width: 768px) and (max-width: 991px)
{
body
{
    width: 100%;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#Bookilogo
{
    margin-left: 72px;
    margin-top: 53px;
}
#Bookilogo img
{
    height: 19px;
}
nav
{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 80%;
}

nav a 
{
    text-decoration: none;
    color: black;
    padding: 48px 30px 10px 30px; 
    display: inline-flex;
}
nav a:focus
{
    color: #0065FC;
    border-top: solid;
    border-color: #0065FC;
}
.element1
{
    font-weight: 400;
    padding-right: 67px;
    border-spacing: 30px;
    width: 113px;
    height: 19px;
}

.section0 h1
{
    font-size: 22px;
    height: 26px;
    margin-left: 72px;
    margin-top: 62px;
    font-weight:700;
}
.section0 p
{
    margin-left: 72px;
    height: 19px;
    font-weight:400;
}

form
{
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-left: 74px;
}
form i.fa-location-dot
{
    border-style: solid;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .search_icon
{
    display: none;
}
form .Endroit
{
    border-color: #F2F2F2;
    height: 44px;
    font-weight: 700;
    font-size: 18px;
}
form .bouton
{
    background-color: #0065FC;
    color: white;
    border-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 132px;
    height: 48px;
    font-weight: 700;
    font-size: 15px;

}
form input
{
    border: 1px;
    border-style: solid;
    border-color: #F2F2F2;
}
#Filtres
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#typefiltr
{
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    width: 100%;
}
#Filtres a
{
    text-decoration: none;
    color: black;
}
#Filtres p
{
    font-weight: 700;
    width: 54px;
    height: 21px;
    margin-top: 55px;
    margin-left: 72px;
    margin-right: 15px;
}
#Filtres i
{
    color: #0065FC;
}
.filtre:hover
{
    background-color: #DEEBFF;
}

.filtre
{
    border: 3px;
    border-style: solid;
    border-color: #e2e2e2;
    border-radius: 40px;
    text-align: center;
    height: 30px;
    width: auto;
    line-height: 30px;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 700;
    font-family: raleway;
    font-style: normal;
    font-size: 15px;
    white-space: nowrap;
}
.filtre a
{
    padding-left: 10px;
}
aside 
{
    display: flex;
    flex-direction: row;
    margin-top: 54px;
}
aside i
{
    margin-top: 3px;
    margin-left: 9px;
    color: #0065FC;
}
#cercle
{
    border: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: #DEEBFF;
    width: 24px;
    height: 24px;
    margin-left: 72px;
}
aside p
{
    margin-left: 11px;
    font-weight: 400;
    margin-top: 6px;
}

.section1
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 39px;
}
.article1
{
    margin-left: 72px;
    width: 86%;
    height: 626px;
    border: 0px;
    border-style: solid;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.article1 h2
{
    padding-left: 40px;
    margin-top: 42px;
    font-size: 22px;
    font-weight: 700;
}
#cartes
{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-gap: 31px;
    justify-content: center;
}

.card1
{
    border: 5px;
    border-color: white;
    border-style: solid;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 199px;
    cursor: pointer;
    box-shadow: 0 0 10px -3px gray;
}
.card1 .container
{
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
}
.card1 img
{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.card1 h3
{

    margin: 0px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 700;
}
.card1 p
{
    padding-left: 16px;
    margin-top: 9px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 14px;
}
.article1 .etoiles
{
    margin-left: 16px;
    margin-top: 7px;
}
.etoiles i
{
    font-size: 13px;
    color: #0065FC;
}

.etoiles .gray {

    font-size: 13px;
    color: #F2F2F2;
}

#lien
{
    margin-left: 44px;
    margin-top: 40px;
}
#lien a
{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.article2
{
    display: flex;
    flex-direction: column;
    margin-left: 72px;
    margin-top: 53px;
    border: 0px;
    border-style: solid;
    border-radius: 20px;
    width: 86%;
    height: 278px;
    background-color: #F2F2F2;
}
.article2 h4
{
    margin-left: 40px;
    margin-top: 34px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
}
#icone
{
    margin-top: 42px;
    width: 18px;
    height: 16px;
    color: #0065FC;
    position: absolute;
    right: 30px;
}

#titre 
{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 60px;
    position: relative;
}
#carte2
{
    display: grid;
    grid-template-columns: 29% 29% 29%;
    grid-gap: 23px;
    justify-content: center;
    margin-bottom: 48px;
}
.card7
{
    display: flex;
    margin-bottom: 33px;
    margin-top: 26px;
    border: 5px;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-radius: 20px;
    height: 144px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 0 10px -3px gray;
}
.card7 .container
{
    width: 146px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 12px;
}
.card7 img
{
    width: 106px;
    height: 144px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}
.card7 h5
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 700;
}
.card7 p 
{
    margin-top: 0px;
    font-size: 13px;
}
.container .etoiles2
{
    font-size: 12px;
    white-space: nowrap;
}
.etoiles2 i
{
    color: #0065FC;
}
.etoiles2 .gray 
{
    color: #F2F2F2;
}

.article2 h1
{
    margin-left: 40px;
    font-size: 22px;
    font-weight: 700;
}
.section2
{
    margin-top: 70px;
}
.section2 h6
{
    margin-left: 81px;
    font-size: 22px;
    font-weight: 700;
}
.card8
{
    margin-left: 73px;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-gap: 25px;
    cursor: pointer;
}
.card8 img
{
    height: 211px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.card8 article
{
    height: 275px;
    width: 90%;
    border: 2px;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 20px;
    box-shadow: 0 0 10px -3px gray;
}

.card8 p
{
    margin-left: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer
{
    margin-top: 69px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 45px;
    padding-bottom: 58px;
    margin-left: 74px;
    margin-right: 53px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    text-align: justify;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .titre
{
    font-size: 18px;
}
footer td
{
    font-size: 16px;
}
#colonne1
{
    min-width: 100px;
}

}